body {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.chatbot-container {
    background-color: #fff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    width: 90%;
    max-width: 400px;
    padding: 20px;
}

h1 {
    text-align: center;
    color: #0a8611;
}

.chat-container {
    max-height: 250px;
    overflow-y: scroll;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.user-message {
    background-color: #0a8611;
    color: #fff;
    border-radius: 5px;
    padding: 5px 10px;
    margin-bottom: 5px;
    align-self: flex-end;
    max-width: 70%;
}

.bot-message {
    background-color: #f0f0f0;
    color: #000;
    border-radius: 5px;
    padding: 5px 10px;
    margin-bottom: 5px;
    max-width: 70%;
}

.bot-message img {
    border-radius: 10px; /* Borde redondeado de 10px */
    border: 8px solid #0a8611; /* Borde sólido de 3px de color #013b05 */
}

.user-input-container {
    display: flex;
    margin-top: 10px;
}

#user-input {
    flex: 1;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
    outline: none;
}

button {
    padding: 8px 15px;
    background-color: #005505;
    color: #fff;
    border: none;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    outline: none;
}

button:hover {
    background-color: #013b05;
}

button:active {
    background-color: #0a570f;
}

/* Media Query para pantallas más pequeñas */
@media only screen and (max-width: 480px) {
    .chatbot-container {
        width: 100%;
    }
}
