<!-- index.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Chatbot</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div class="chatbot-container">
        <h1>Cipher</h1>
        <div class="chat-container" id="chat-container">
            <!-- Chat messages will be displayed here -->
        </div>
        <div class="user-input-container">
            <input type="text" id="user-input" placeholder="Escribe un mensaje...">
            <button onclick="sendMessage()">Enviar</button>
            <button onclick="refreshChat()"><i class="fa fa-refresh" style="font-size:16px;"></i></button>
        </div>
    </div>
    <script src="static/script.js"></script>
</body>
</html>
